body {
	height: 1000em;
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 60px;
}

p {
	font-family: 'Courier New', monospace;
	color: black;
	font-size: 20px;
	text-align: center;
	margin-bottom: 500px;
	margin-left: 40px;
}

.thegrid {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	max-width: 1400px;
	margin: 90px auto;
}

	.title {
		font-family: 'Courier New', monospace;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 150px;
		text-align: left;
		grid-column-start:1;
		grid-column-end:4;
		height: 1300px;
	}

	.quote {
		font-family: 'Courier New', monospace;
		text-align: center;
		font-size: 40px;
		grid-column-start:2;
		grid-column-end:3;
		height: 18em;
		padding:8em;
	}

	.para1 {
		font-family: 'Courier New', monospace;
		text-align: left;
		font-size: 20px;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 40em;
		padding-right: 40em;
		padding-left: 5em;
	}

	.para2 {
		font-family: 'Courier New', monospace;
		text-align: left;
		font-size: 20px;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 50em;
		padding-left: 40em;
		padding-right: 5em;
	}

	.subtitle {
		font-family: 'Courier New', monospace;
		text-align: center;
		font-size: 30px;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 2em;
	}

	.para3 {
		font-family: 'Courier New', monospace;
		text-align: center;
		font-size: 20px;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 140em;
		padding-left: 25em;
		padding-right: 25em;
	}

	.para4 {
		font-family: 'Courier New', monospace;
		text-align: center;
		font-size: 20px;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 100em;
		padding-left: 25em;
		padding-right: 25em;
	}

	.para5 {
		font-family: 'Courier New', monospace;
		text-align: center;
		font-size: 20px;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 80em;
		padding-left: 25em;
		padding-right: 25em;
	}




.titledoor1 {
	background-color: #C01823;
	position: relative;
	border-radius: 50%;
	height:79px;
	width: 65px;
	top: -15890px;
	left: 373px;
}
	.tdc11 {
		z-index: 2;
		background-color: #FBAD18;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 36px;
		left: 44px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

.titledoor2 {
	background-color: #ABCBB7;
	position: relative;
	border-radius: 50%;
	height:79px;
	width: 65px;
	top: -15969px;
	left: 733px;
}

	.tdc21 {
		z-index: 2;
		background-color: #514835;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 36px;
		left: 44px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

.titledoor3 {
	background-color: #FBAD18;
	position: relative;
	border-radius: 50%;
	height:79px;
	width: 65px;
	top: -15878px;
	left: 13px;
}
	.tdc31 {
		z-index: 2;
		background-color: #00692F;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 36px;
		left: 44px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}


.titledoor4 {
	background-color: #CCD6E0;
	position: relative;
	border-radius: 50%;
	height:79px;
	width: 65px;
	top: -15957px;
	left: 283px;
}
	.tdc41 {
		z-index: 2;
		background-color: #003462;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 36px;
		left: 44px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

.titledoor5 {
	background-color: #C01823;
	position: relative;
	border-radius: 50%;
	height:79px;
	width: 65px;
	top: -15866px;
	left: 193px;
}
	.tdc51 {
		z-index: 2;
		background-color: #FBAD18;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 36px;
		left: 44px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

	.titledoor1:active {
			transform: perspective(1000px) rotateY(180deg);
		}

	.titledoor2:active {
			transform: perspective(1000px) rotateY(180deg);
		}

	.titledoor3:active {
			transform: perspective(1000px) rotateY(180deg);
		}

	.titledoor4:active {
			transform: perspective(1000px) rotateY(180deg);
		}

	.titledoor5:active {
			transform: perspective(1000px) rotateY(180deg);
		}


.blackboarder1 {
	z-index: -1;
		position: absolute;
		background-image: url(amazonbox1.jpg);
		background-size: cover;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2441px;
		left: 960px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder2 {
	z-index: -1;
		position: absolute;
		background-image: url(ebaybox2.png);
		background-position: center;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2441px;
		left: 1110px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder3 {
	z-index: -1;
		position: absolute;
		background-image: url(ebaybox1.jpg);
		background-position: center;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2441px;
		left: 1260px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder4 {
	z-index: -1;
		position: absolute;
		background-image: url(boxes1.jpg);
		background-size: cover;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2441px;
		left: 1410px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}


.blackboarder5 {
	z-index: -1;
		position: absolute;
		background-color: transparent;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2671px;
		left: 960px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.insidedoor5 {
	font-family: 'Courier New', monospace;
	font-size: 14px;
	text-align: center;
}

.blackboarder6 {
	z-index: -1;
		position: absolute;
		background-image: url(amazonbox5.png);
		background-size: cover;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2671px;
		left: 1110px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder7 {
	z-index: -1;
		position: absolute;
		background-image: url(russianbox1.jpg);
		background-size: cover;
		background-position: center;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2671px;
		left: 1260px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder8 {
	z-index: -1;
		position: absolute;
		background-image: url(ozonbox1.jpg);
		background-size: cover;
		background-position: center;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2671px;
		left: 1410px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder9 {
	z-index: -1;
		position: absolute;
		background-image: url(chinesebox1.jpg);
		background-size: cover;
		background-position: center;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2901px;
		left: 960px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder10 {
	z-index: -1;
		position: absolute;
		background-image: url(koreabox1.jpeg);
		background-size: cover;
		background-position: center;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2901px;
		left: 1110px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder11 {
	z-index: -1;
		position: absolute;
		background-image: url(amazonbox6.jpg);
		background-size: cover;
		background-position: center;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2901px;
		left: 1260px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.blackboarder12 {
	z-index: -1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #000000;
        height: 188px;
		width: 108px;
		top: 2901px;
		left: 1410px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

.insidedoor12 {
	font-family: 'Courier New', monospace;
	font-size: 14px;
	text-align: center;
}



/*FIRST LINE*/

.checkoutbox {
	background-color: #D1D3D4;
	position: relative;
	height:50px;
	width: 176px;
	top: -13643px;
	left: 100px;
	box-shadow: 0 9px #999
}

	.cobt {
		font-family: 'Courier New', monospace;
		z-index: 3;
		position: absolute;
		font-size: 26px;
		top: 12px;
		left: 17px;
	}

.checkoutbox:hover {
	background-color: #C4C4C4
}

.checkoutbox:active {
	background-color: #C4C4C4;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}



.checkout-door1 {
	background-color: #C01823;
	position:relative;
	height: 200px;
	width: 120px;
	top: -14167px;
	left: 900px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

	.cods11 {
		z-index: 1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #EAC5BD;
        height: 170px;
		width: 92px;
		top: 9px;
		left: 8px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

	.codc11 {
		z-index: 2;
		background-color: #FBAD18;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 100px;
		left: 90px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

.checkout-door2 {
	background-color: #ABCBB7;
	position: relative;
	height: 200px;
	width: 120px;
	top: -14367px;
	left: 1050px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

	.cods21 {
		z-index: 1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #003462;
        height: 170px;
		width: 92px;
		top: 9px;
		left: 8px;
	}

	.codc21 {
		z-index: 2;
		background-color: #514835;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 100px;
		left: 90px;
	}

.checkout-door3 {
	background-color: #003462;
	position: relative;
	height: 200px;
	width: 120px;
	top: -14567px;
	left: 1200px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

	.cods31 {
		z-index: 1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #CCD6E0;
        height: 170px;
		width: 92px;
		top: 9px;
		left: 8px;
	}

	.codc31 {
		z-index: 2;
		background-color: #FBAD18;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 100px;
		left: 90px;
	}

.checkout-door4 {
	background-color: #FBAD18;
	position: relative;
	height: 200px;
	width: 120px;
	top: -14767px;
	left: 1350px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

	.cods41 {
		z-index: 1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #00692F;
        height: 170px;
		width: 92px;
		top: 9px;
		left: 8px;
	}

	.codc41 {
		z-index: 2;
		background-color: #514835;
		border-radius: 50%;
		position: absolute;
        height: 12px;
		width: 12px;
		top: 100px;
		left: 90px;
	}

		/*SECOND LINE*/
		.checkout-door5 {
			background-color: #FBAD18;
			position: relative;
			height: 200px;
			width: 120px;
			top: -14737px;
			left: 900px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}

			.cods51 {
				z-index: 1;
				position: absolute;
				background-color:transparent;
		        border: 6px solid #00692F;
		        height: 170px;
				width: 92px;
				top: 9px;
				left: 8px;
			}

			.codc51 {
				z-index: 2;
				background-color: #514835;
				border-radius: 50%;
				position: absolute;
		        height: 12px;
				width: 12px;
				top: 100px;
				left: 90px;
			}

		.checkout-door6 {
			background-color: #C01823;
			position: relative;
			height: 200px;
			width: 120px;
			top: -14937px;
			left: 1050px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}

			.cods61 {
				z-index: 1;
				position: absolute;
				background-color:transparent;
		        border: 6px solid #EAC5BD;
		        height: 170px;
				width: 92px;
				top: 9px;
				left: 8px;
			}

			.codc61 {
				z-index: 2;
				background-color: #FBAD18;
				border-radius: 50%;
				position: absolute;
		        height: 12px;
				width: 12px;
				top: 100px;
				left: 90px;
			}

		.checkout-door7 {
			background-color: #ABCBB7;
			position: relative;
			height: 200px;
			width: 120px;
			top: -15137px;
			left: 1200px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}

			.cods71 {
				z-index: 1;
				position: absolute;
				background-color:transparent;
		        border: 6px solid #003462;
		        height: 170px;
				width: 92px;
				top: 9px;
				left: 8px;
			}

			.codc71 {
				z-index: 2;
				background-color: #514835;
				border-radius: 50%;
				position: absolute;
		        height: 12px;
				width: 12px;
				top: 100px;
				left: 90px;
			}

		.checkout-door8 {
			background-color: #003462;
			position: relative;
			height: 200px;
			width: 120px;
			top: -15337px;
			left: 1350px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}

			.cods81 {
				z-index: 1;
				position: absolute;
				background-color:transparent;
		        border: 6px solid #CCD6E0;
		        height: 170px;
				width: 92px;
				top: 9px;
				left: 8px;
			}

			.codc81 {
				z-index: 2;
				background-color: #FBAD18;
				border-radius: 50%;
				position: absolute;
		        height: 12px;
				width: 12px;
				top: 100px;
				left: 90px;
			}


					/*THIRD LINE*/
					.checkout-door9 {
						background-color: #003462;
						position: relative;
						height: 200px;
						width: 120px;
						top: -15307px;
						left: 900px;
						transform-origin: 0 50%;
						transition: all .2s ease-in;
					}

						.cods91 {
							z-index: 1;
							position: absolute;
							background-color:transparent;
					        border: 6px solid #CCD6E0;
					        height: 170px;
							width: 92px;
							top: 9px;
							left: 8px;
						}

						.codc91 {
							z-index: 2;
							background-color: #FBAD18;
							border-radius: 50%;
							position: absolute;
					        height: 12px;
							width: 12px;
							top: 100px;
							left: 90px;
						}

					.checkout-door10 {
						background-color: #ABCBB7;
						position: relative;
						height: 200px;
						width: 120px;
						top: -15507px;
						left: 1050px;
						transform-origin: 0 50%;
						transition: all .2s ease-in;
					}

						.cods101 {
							z-index: 1;
							position: absolute;
							background-color:transparent;
					        border: 6px solid #003462;
					        height: 170px;
							width: 92px;
							top: 9px;
							left: 8px;
						}

						.codc101 {
							z-index: 2;
							background-color: #514835;
							border-radius: 50%;
							position: absolute;
					        height: 12px;
							width: 12px;
							top: 100px;
							left: 90px;
						}

					.checkout-door11 {
						background-color: #FBAD18;
						position: relative;
						height: 200px;
						width: 120px;
						top: -15707px;
						left: 1200px;
						transform-origin: 0 50%;
						transition: all .2s ease-in;
					}

						.cods111 {
							z-index: 1;
							position: absolute;
							background-color:transparent;
					        border: 6px solid #00692F;
					        height: 170px;
							width: 92px;
							top: 9px;
							left: 8px;
						}

						.codc111 {
							z-index: 2;
							background-color: #514835;
							border-radius: 50%;
							position: absolute;
					        height: 12px;
							width: 12px;
							top: 100px;
							left: 90px;
						}

					.checkout-door12 {
						background-color: #C01823;
						position: relative;
						height: 200px;
						width: 120px;
						top: -15907px;
						left: 1350px;
						transform-origin: 0 50%;
						transition: all .2s ease-in;
					}

						.cods121 {
							z-index: 1;
							position: absolute;
							background-color:transparent;
					        border: 6px solid #EAC5BD;
					        height: 170px;
							width: 92px;
							top: 9px;
							left: 8px;
						}

						.codc121 {
							z-index: 2;
							background-color: #FBAD18;
							border-radius: 50%;
							position: absolute;
					        height: 12px;
							width: 12px;
							top: 100px;
							left: 90px;
						}

		.checkout-door1:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door2:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door3:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door4:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door5:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door6:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door7:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door8:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door9:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door10:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door11:active {
			transform: perspective(1000px) rotateY(-88deg);
		}

		.checkout-door12:active {
			transform: perspective(1000px) rotateY(-88deg);
		}




	.blackboarder21 {
		z-index: -1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #000000;
        height: 204px;
		width: 124px;
		top: 3380px;
		left: 150px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

	.blackboarder22 {
		z-index: -1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #000000;
        height: 204px;
		width: 124px;
		top: 3380px;
		left: 310px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

	.blackboarder23 {
		z-index: -1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #000000;
        height: 204px;
		width: 124px;
		top: 3620px;
		left: 150px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

	.blackboarder24 {
		z-index: -1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #000000;
        height: 204px;
		width: 124px;
		top: 3620px;
		left: 310px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}

	.blackboarder25 {
		z-index: -1;
		position: absolute;
		background-color:transparent;
        border: 6px solid #000000;
        height: 444px;
		width: 252px;
		top: 3380px;
		left: 470px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
}



	.grodoor {
		z-index: 1;
		background-color: #EAC5BD;
		position: absolute;
        height: 216px;
		width: 136px;
		top: 3380px;
		left: 150px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

		.groc1 {
			z-index: 2;
			background-color: #514835;
			border-radius: 50%;
			position: absolute;
	        height: 12px;
			width: 12px;
			top: 110px;
			left: 110px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}

	.bookdoor {
		z-index: 1;
		background-color: #FBAD18;
		position: absolute;
        height: 216px;
		width: 136px;
		top: 3380px;
		left: 310px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

		.bookc1 {
			z-index: 2;
			background-color: #00692F;
			border-radius: 50%;
			position: absolute;
	        height: 12px;
			width: 12px;
			top: 110px;
			left: 110px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}


	.beaudoor {
		z-index: 1;
		background-color: #003462;
		position: absolute;
        height: 216px;
		width: 136px;
		top: 3620px;
		left: 150px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

		.beauc1 {
			z-index: 2;
			background-color: #FBAD18;
			border-radius: 50%;
			position: absolute;
	        height: 12px;
			width: 12px;
			top: 110px;
			left: 110px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}

	.pooldoor {
		z-index: 1;
		background-color: #ABCBB7;
		position: absolute;
        height: 216px;
		width: 136px;
		top: 3620px;
		left: 310px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

		.poolc1 {
			z-index: 2;
			background-color: #514835;
			border-radius: 50%;
			position: absolute;
	        height: 12px;
			width: 12px;
			top: 110px;
			left: 110px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}

	.canadoor {
		z-index: 1;
		background-color: #C01823;
		position: absolute;
        height: 456px;
		width: 265px;
		top: 3380px;
		left: 470px;
		transform-origin: 0 50%;
		transition: all .2s ease-in;
	}

		.canac1 {
			z-index: 2;
			background-color: #FFFFFF;
			border-radius: 50%;
			position: absolute;
	        height: 20px;
			width: 20px;
			top: 240px;
			left: 220px;
			transform-origin: 0 50%;
			transition: all .2s ease-in;
		}


.grodoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.bookdoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.beaudoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.pooldoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.canadoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}



/*

.amazon {
	background-color: #C01823;
	position: relative;
	height: 600px;
	width: 350px;
	top: 800px;
	left: 44px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

.amazon:active {
	transform: perspective(1000px) rotateY(-88deg);
}

	.amas1 {
		width: 302px;
		height: 548px;
		position:absolute;
		background: #EAC5BD;
		z-index: 1;
		top: 25px;
		left: 24px;
		transition: all .2s ease-in;
		transform-origin: 0 50%;
		}


	.amas2 {
		width: 280px;
		height: 300px;
		position:absolute;
		background: #C01823;
		z-index: 2;
		top: 36px;
		left: 35px;
		transition: all .2s ease-in;
		}

	.amas3 {
		width: 280px;
		height: 214px;
		position:absolute;
		background: #C01823;
		z-index: 3;
		top: 348px;
		left: 35px;
		transition: all .2s ease-in;
		}

	.amas4 {
		width: 266px;
		height: 202px;
		position:absolute;
		background: #EAC5BD;
		z-index: 4;
		top: 354px;
		left: 42px;
		transition: all .2s ease-in;
		}

	.amas5 {
		width: 266px;
		height: 286px;
		position:absolute;
		background: #EAC5BD;
		z-index: 5;
		top: 43px;
		left: 42px;
		transition: all .2s ease-in;
		}


	.amas6 {
		width: 248px;
		height: 270px;
		position:absolute;
		background: #C01823;
		z-index: 6;
		top: 50px;
		left: 51px;
		transition: all .2s ease-in;
		}

	.amas7 {
		width: 248px;
		height: 186px;
		position:absolute;
		background: #C01823;
		z-index: 7;
		top: 362px;
		left: 50px;
		transition: all .2s ease-in;
		}

	.amac1 {
		width: 48px;
		height: 48px;
		border-radius: 100%;
		position:absolute;
		background: #FBAD18;
		z-index: 8;
		top: 320px;
		left: 280px;
		transition: all .2s ease-in;
		}

	.amac2 {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		position:absolute;
		background: #FFDEAB;
		z-index: 9;
		top: 328px;
		left: 288px;
		transition: all .2s ease-in;
		}



		/*.reddoor:hover .rds1,
		.reddoor:hover .rds2 {
			background-color: black;

		}


.bluedoor {
	background-color: #85BDE1;
	position:relative;
	height: 400px;
	width: 350px;
	margin: 40px;
	top: -34px;
	left: 550px;
	transform-origin: 0 50%;
    transition: all .2s ease-in;
}

.bluedoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

	.bdc1 {
		background-color: #85BDE1;
		position: absolute;
		z-index: 10;
	    top: -210px; 
	    left: 0px; 
	    height: 350px; 
	    width: 350px; 
	    border-radius: 200px 200px 0 0;
	}

	.bdc2 {
		background-color: #E4EDF8;
		position: absolute;
		z-index: 12;
	    top: -180px; 
	    left: 30px; 
	    height: 290px; 
	    width: 290px; 
	    border-radius: 200px 200px 0 0;
	}

	.bdc3 {
		background-color: #003F70;
		position: absolute;
		z-index: 11;
	    top: -194px; 
	    left: 15px; 
	    height: 320px; 
	    width: 320px; 
	    border-radius: 200px 200px 0 0;
	}

	.bds1 {
		width: 320px;
		height: 426px;
		position:absolute;
		background: #003F70;
		z-index: 12;
		top: -40px;
		left: 15px;
		transition: all .2s ease-in;
	}

	.bds2 {
		width: 138px;
		height: 264px;
		position:absolute;
		background: #85BDE1;
		z-index: 13;
		top: -25px;
		left: 30px;
		transition: all .2s ease-in;
	}


	.bds3 {
		width: 138px;
		height: 264px;
		position:absolute;
		background: #85BDE1;
		z-index: 14;
		top: -25px;
		left: 182px;
		transition: all .2s ease-in;
	}

	.bds4 {
		width: 290px;
		height: 120px;
		position:absolute;
		background: #85BDE1;
		z-index: 15;
		top: 252px;
		left: 30px;
		transition: all .2s ease-in;
	}

	.bds5 {
		width: 126px;
		height: 250px;
		position:absolute;
		background: #003F70;
		z-index: 13;
		top: -18px;
		left: 36px;
		transition: all .2s ease-in;
	}


	.bds6 {
		width: 126px;
		height: 250px;
		position:absolute;
		background: #003F70;
		z-index: 14;
		top: -18px;
		left: 188px;
		transition: all .2s ease-in;
	}

	.bds7 {
		width: 278px;
		height: 108px;
		position:absolute;
		background: #003F70;
		z-index: 15;
		top: 258px;
		left: 36px;
		transition: all .2s ease-in;
	}

	.bds8 {
		width: 14px;
		height: 158px;
		position:absolute;
		background: #003F70;
		z-index: 16;
		top: -194px;
		left: 168px;
		transition: all .2s ease-in;
	}


	.bds9 {
		width: 14px;
		height: 154px;
		position:absolute;
		background: #003F70;
		z-index: 17;
		top: -170px;
		left: 226px;
		transform: rotate(45deg);
		transition: all .2s ease-in;
	}

	.bds10 {
		width: 14px;
		height: 154px;
		position:absolute;
		background: #003F70;
		z-index: 18;
		top: -170px;
		left: 110px;
		transform: rotate(-45deg);
		transition: all .2s ease-in;
	}

	

.greendoor {
	background-color: #00692F;
	position:relative;
	height: 600px;
	width: 350px;
	margin: 40px;
	top: 800px;
	left: 1130px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

.greendoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.greendoor:hover .gds26{
	transform: rotate(-30deg);
}

	.gds1 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:30px;
		left:30px;
	}

    .gds2 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:30px;
		left:190px;
	}

	.gds3 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:221px;
		left:30px;
	}

	.gds4 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:221px;
		left:190px;
	}

	.gds5 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:412px;
		left:30px;
	}

	.gds6 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:412px;
		left:190px;
	}
	
	 .gds7 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:36px;
		left:36px;
	}

	.gds8 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:36px;
		left:196px;
	}

	.gds9 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:227px;
		left:36px;
	}

	.gds10 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:227px;
		left:196px;
	}

	.gds11 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:418px;
		left:36px;
	}

	.gds12 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:418px;
		left:196px;
	}

    .gds13 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:43px;
		left:44px;
	}

	.gds14 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:43px;
		left:204px;
	}

	 .gds15 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:234px;
		left:44px;
	}

	.gds16 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:234px;
		left:204px;
	}

	.gds17 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:425px;
		left:44px;
	}

	.gds18 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:425px;
		left:204px;
	}

	.gds19 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:50px;
		left:50px;
	}

	.gds20 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:50px;
		left:210px;
	}

	 .gds21 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:241px;
		left:50px;
	}

	.gds22 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:241px;
		left:210px;
	}
	
    .gds23 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:432px;
		left:50px;
	}

	.gds24 {
		background-color: #00692F;
		position: absolute;
		z-index:4;
		height:120px;
		width:90px;
		top:432px;
		left:210px;
	}

	.gds25{
        background-color: #FBAD18;
		position: absolute;
		z-index:5;
		height:66px;
		width:28px;
		top:290px;
		left:320px;
	}

	.gds26{
        background-color: #FBAD18;
		position:absolute;
		z-index:5;
		height:10px;
		width:60px;
		top:300px;
		left:280px;
		transform-origin:100% 50%;
		transition:all .2s;
	}


.yellowdoor {
	background-color: #F0EC6B;
	position: relative;
	height:600px;
	width:350px;
	margin:40px;
	top:-360px;
	left:60px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

.yellowdoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}


.navydoor {
	background-color: #004E7C;
	position: relative;
	height: 600px;
	width: 350px;
	margin: 40px;
	top:1000px;
	left:500px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

.navydoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}


.browndoor {
	background-color: #CCD9F0;
	position: relative;
	height: 600px;
	width: 350px;
	margin: 40px;
	top:-1250px;
	left:940px;
	}

.brds3:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.brds3 {
	background-color: #7D4900;
	position: relative;
	z-index: 1;
	height:580px;
	width:310px;
	top:-1870px;
	left:1002px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
	}

	.brds4 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:570px;
		width:300px;
		top:5px;
		left:5px;
	}
    
    .brds5 {
		background-color: #7D4900;
		position: absolute;
		z-index: 1;
		height:564px;
		width:294px;
		top:8px;
		left:8px;
	}

    .brds6 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:300px;
		width:250px;
		top:30px;
		left:30px;
	}
    
    .brds7 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:198px;
		width:250px;
		top:352px;
		left:30px;
	}

	.brds8 {
		background-color: #7D4900;
		position: absolute;
		z-index: 1;
		height:292px;
		width:242px;
		top:34px;
		left:34px;
	}
    
    .brds9 {
		background-color: #7D4900;
		position: absolute;
		z-index: 1;
		height:190px;
		width:242px;
		top:356px;
		left:34px;
	}
    
    .brds10 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:284px;
		width:234px;
		top:38px;
		left:38px;
	}
    
    .brds11 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:182px;
		width:234px;
		top:360px;
		left:38px;
	}

     .brds12 {
		background-color: #003462;
		position: absolute;
		z-index: 1;
		height:280px;
		width:230px;
		top:40px;
		left:40px;
	}
    
    .brds13 {
		background-color: #003462;
		position: absolute;
		z-index: 1;
		height:178px;
		width:230px;
		top:362px;
		left:40px;
	}
    
   .brds14 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:307px;
		left:40px;
	}
    
    .brds15 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:50px;
		left:40px;
	}
 
    .brds16 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:50px;
	}
    
    .brds17 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:258px;
	}
    
      .brds18 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:104px;
		left:40px;
	}
   
     .brds19 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:154px;
		left:40px;
	}

	 .brds20 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:204px;
		left:40px;
	}

	.brds21 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:254px;
		left:40px;
	}

	.brds22 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:100px;
	}

	.brds23 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:154px;
	}

	.brds24 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:208px;
	}

    .brds25 {
		position: absolute;
		z-index: 3;
		height:72px;
		width:72px;
		top:66px;
		left:118px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}

	.brds26 {
		position: absolute;
		z-index: 3;
		height:70px;
		width:70px;
		top:117px;
		left:118px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}

	.brds27 {
		position: absolute;
		z-index: 3;
		height:70px;
		width:70px;
		top:168px;
		left:118px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}

	.brds28 {
		position: absolute;
		z-index: 3;
		height:72px;
		width:72px;
		top:216px;
		left:118px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}
    
	.brds29 {
		background-color: #C17D12;
		position: absolute;
		z-index: 4;
		height:170px;
		width:222px;
		top:366px;
		left:44px;
	}

	.brds30 {
		background-color: #7D4900;
		position: absolute;
		z-index: 4;
		height:162px;
		width:214px;
		top:370px;
		left:48px;
	}

	.brdc1{
        width: 44px;
		height: 44px;
		border-radius: 100%;
		position:absolute;
		background: #FBAD18;
		z-index: 8;
		top: 302px;
		left: 262px;
		transition: all .2s ease-in;
		}

	
	.brdc2{
		width: 32px;
		height: 32px;
		border-radius: 100%;
		position:absolute;
		background: #FFDEAB;
		z-index: 9;
		top: 308px;
		left: 268px;
		transition: all .2s ease-in;
	}
*/


