* {
	box-sizing:border-box;
}

html {
	font-size:10px;
	margin: 120px;
}

h1 {
	font-family: 'Spectral', serif;
	font-size: 6rem;
}

h2 {
	font-family: 'Spectral', serif;
	font-size: 3rem;
}

.greendoor {
	background-color: #00692F;
	position:relative;
	height: 600px;
	width: 350px;
	margin: 40px;
	top: 1000px;
	left: 0px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

.greendoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.greendoor:hover .gds26{
	transform: rotate(-30deg);
}

	.gds1 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:30px;
		left:30px;
	}

    .gds2 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:30px;
		left:190px;
	}

	.gds3 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:221px;
		left:30px;
	}

	.gds4 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:221px;
		left:190px;
	}

	.gds5 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:412px;
		left:30px;
	}

	.gds6 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 1;
		height:160px;
		width:130px;
		top:412px;
		left:190px;
	}
	
	 .gds7 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:36px;
		left:36px;
	}

	.gds8 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:36px;
		left:196px;
	}

	.gds9 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:227px;
		left:36px;
	}

	.gds10 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:227px;
		left:196px;
	}

	.gds11 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:418px;
		left:36px;
	}

	.gds12 {
		background-color: #00692F;
		position: absolute;
		z-index: 2;
		height:148px;
		width:118px;
		top:418px;
		left:196px;
	}

    .gds13 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:43px;
		left:44px;
	}

	.gds14 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:43px;
		left:204px;
	}

	 .gds15 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:234px;
		left:44px;
	}

	.gds16 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:234px;
		left:204px;
	}

	.gds17 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:425px;
		left:44px;
	}

	.gds18 {
		background-color: #C2E1B7;
		position: absolute;
		z-index: 3;
		height:134px;
		width:102px;
		top:425px;
		left:204px;
	}

	.gds19 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:50px;
		left:50px;
	}

	.gds20 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:50px;
		left:210px;
	}

	 .gds21 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:241px;
		left:50px;
	}

	.gds22 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:241px;
		left:210px;
	}
	
    .gds23 {
		background-color: #00692F;
		position: absolute;
		z-index: 4;
		height:120px;
		width:90px;
		top:432px;
		left:50px;
	}

	.gds24 {
		background-color: #00692F;
		position: absolute;
		z-index:4;
		height:120px;
		width:90px;
		top:432px;
		left:210px;
	}

	.gds25{
        background-color: #FBAD18;
		position: absolute;
		z-index:5;
		height:66px;
		width:28px;
		top:290px;
		left:320px;
	}

	.gds26{
        background-color: #FBAD18;
		position:absolute;
		z-index:5;
		height:10px;
		width:60px;
		top:300px;
		left:280px;
		transform-origin:100% 50%;
		transition:all .2s;
	}

	.browndoor {
		background-color: #CCD9F0;
		position: relative;
		height: 600px;
		width: 350px;
		margin: 40px;
		top:360px;
		left:480px;
	}

	.white {
		position: absolute;
		height:580px;
		width:310px;
		background: white;
		top: 20px;
		left: 21px;
	}

.brds3:active {
	transform: perspective(1000px) rotateY(-88deg);
}

.brds3 {
	background-color: #7D4900;
	position: absolute;
	z-index: 1;
	height:580px;
	width:310px;
	top:20px;
	left:21px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
	}

	.brds4 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:570px;
		width:300px;
		top:5px;
		left:5px;
	}
    
    .brds5 {
		background-color: #7D4900;
		position: absolute;
		z-index: 1;
		height:564px;
		width:294px;
		top:8px;
		left:8px;
	}

    .brds6 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:300px;
		width:250px;
		top:30px;
		left:30px;
	}
    
    .brds7 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:198px;
		width:250px;
		top:352px;
		left:30px;
	}

	.brds8 {
		background-color: #7D4900;
		position: absolute;
		z-index: 1;
		height:292px;
		width:242px;
		top:34px;
		left:34px;
	}
    
    .brds9 {
		background-color: #7D4900;
		position: absolute;
		z-index: 1;
		height:190px;
		width:242px;
		top:356px;
		left:34px;
	}
    
    .brds10 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:284px;
		width:234px;
		top:38px;
		left:38px;
	}
    
    .brds11 {
		background-color: #C17D12;
		position: absolute;
		z-index: 1;
		height:182px;
		width:234px;
		top:360px;
		left:38px;
	}

     .brds12 {
		background-color: #003462;
		position: absolute;
		z-index: 1;
		height:280px;
		width:230px;
		top:40px;
		left:40px;
	}
    
    .brds13 {
		background-color: #003462;
		position: absolute;
		z-index: 1;
		height:178px;
		width:230px;
		top:362px;
		left:40px;
	}
    
   .brds14 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:307px;
		left:40px;
	}
    
    .brds15 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:50px;
		left:40px;
	}
 
    .brds16 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:50px;
	}
    
    .brds17 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:258px;
	}
    
      .brds18 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:104px;
		left:40px;
	}
   
     .brds19 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:154px;
		left:40px;
	}

	 .brds20 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:204px;
		left:40px;
	}

	.brds21 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 1;
		height:2px;
		width:230px;
		top:254px;
		left:40px;
	}

	.brds22 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:100px;
	}

	.brds23 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:154px;
	}

	.brds24 {
		background-color: #CCD9F0;
		position: absolute;
		z-index: 3;
		height:280px;
		width:2px;
		top:40px;
		left:208px;
	}

    .brds25 {
		position: absolute;
		z-index: 3;
		height:72px;
		width:72px;
		top:69px;
		left:120px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}

	.brds26 {
		position: absolute;
		z-index: 3;
		height:70px;
		width:70px;
		top:120px;
		left:120px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}

	.brds27 {
		position: absolute;
		z-index: 3;
		height:70px;
		width:70px;
		top:168px;
		left:118px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}

	.brds28 {
		position: absolute;
		z-index: 3;
		height:72px;
		width:72px;
		top:219px;
		left:119px;
		background-color:transparent;
        border:2px solid #CCD9F0;
        transform: rotate(45deg);
	}
    
	.brds29 {
		background-color: #C17D12;
		position: absolute;
		z-index: 4;
		height:170px;
		width:222px;
		top:366px;
		left:44px;
	}

	.brds30 {
		background-color: #7D4900;
		position: absolute;
		z-index: 4;
		height:162px;
		width:214px;
		top:370px;
		left:48px;
	}

	.brdc1{
        width: 44px;
		height: 44px;
		border-radius: 100%;
		position:absolute;
		background: #FBAD18;
		z-index: 8;
		top: 302px;
		left: 262px;
		transition: all .2s ease-in;
		}

	
	.brdc2{
		width: 32px;
		height: 32px;
		border-radius: 100%;
		position:absolute;
		background: #FFDEAB;
		z-index: 9;
		top: 308px;
		left: 268px;
		transition: all .2s ease-in;
	}


	.reddoor {
	background-color: #C01823;
	position: relative;
	height: 600px;
	width: 350px;
	top: -280px;
	left: 1000px;
	transform-origin: 0 50%;
	transition: all .2s ease-in;
}

.reddoor:active {
	transform: perspective(1000px) rotateY(-88deg);
}

	.rds1 {
		width: 302px;
		height: 548px;
		position:absolute;
		background: #EAC5BD;
		z-index: 1;
		top: 25px;
		left: 24px;
		transition: all .2s ease-in;
		transform-origin: 0 50%;
		}


	.rds2 {
		width: 280px;
		height: 300px;
		position:absolute;
		background: #C01823;
		z-index: 2;
		top: 36px;
		left: 35px;
		transition: all .2s ease-in;
		}

	.rds3 {
		width: 280px;
		height: 214px;
		position:absolute;
		background: #C01823;
		z-index: 3;
		top: 348px;
		left: 35px;
		transition: all .2s ease-in;
		}

	.rds4 {
		width: 266px;
		height: 202px;
		position:absolute;
		background: #EAC5BD;
		z-index: 4;
		top: 354px;
		left: 42px;
		transition: all .2s ease-in;
		}

	.rds5 {
		width: 266px;
		height: 286px;
		position:absolute;
		background: #EAC5BD;
		z-index: 5;
		top: 43px;
		left: 42px;
		transition: all .2s ease-in;
		}


	.rds6 {
		width: 248px;
		height: 270px;
		position:absolute;
		background: #C01823;
		z-index: 6;
		top: 50px;
		left: 51px;
		transition: all .2s ease-in;
		}

	.rds7 {
		width: 248px;
		height: 186px;
		position:absolute;
		background: #C01823;
		z-index: 7;
		top: 362px;
		left: 50px;
		transition: all .2s ease-in;
		}

	.rdc1 {
		width: 48px;
		height: 48px;
		border-radius: 100%;
		position:absolute;
		background: #FBAD18;
		z-index: 8;
		top: 320px;
		left: 280px;
		transition: all .2s ease-in;
		}

	.rdc2 {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		position:absolute;
		background: #FFDEAB;
		z-index: 9;
		top: 328px;
		left: 288px;
		transition: all .2s ease-in;
		}