* {
	box-sizing:border-box;
}

html {
	font-size:10px;
}

body {
	font-family: 'Cormorant Garamond', serif;
	font-size:2rem;
	padding: 100px;
}

strong {
	font-size:2rem;
}

h3 {
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 20px;
}

h2 {
	font-family: 'Spectral', serif;
	font-weight:normal;
	text-transform: uppercase;
}



#container {
	position: relative;
}

#container img {
	display: block;
}

#te1 {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: transparent;
    width: 350px;
    height: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Homemade Apple', cursive;
   	color: #44493f;
    resize: none;
    display: block;
}

#te2 {
    position: absolute;
    top: 270px;
    left: 482px;
    background-color: transparent;
    width: 410px;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Homemade Apple', cursive;
    color: #44493f;
    resize: none;
    display: block;
}

#te3 {
    position: absolute;
    top: 340px;
    left: 482px;
    background-color: transparent;
    width: 410px;
    height: 210px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Homemade Apple', cursive;
    color: #44493f;
    resize: none;
    display: block;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #287b3c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
