* {
	box-sizing:border-box;
}

html {
	font-size:10px;
  background-color: #000;
  color:#fff;
}

body {
	font-family: 'Cormorant Garamond', serif;
	font-size:2rem;
	padding: 100px;
}

h3 {
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 20px;
}

h2 {
	font-family: 'Spectral', serif;
	font-weight:normal;
	text-transform: uppercase;
}

h2.po {
  color:#000;
  position:absolute;
  left:480px;
  top:0px;
  font-size:50px;
}

.rec-01 {
  height:800px;
  width: 1200px;
  background-color: #ffffff;
  position: relative;
  z-index: -1;
}

img.postage09 {
  position: absolute;
  top:50px;
  right:50px;
}

img.stamp01 {
  position: absolute;
  top:170px;
  right:160px;
}

.division-01 {
  height:600px;
  width: 2px;
  position: absolute;
  background-color: #000;
  top:140px;
  left:600px
}

#te1 {
    position: absolute;
    top: 500px;
    left: 200px;
    background-color: transparent;
    width: 450px;
    height: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Homemade Apple', cursive;
    color: #44493f;
    resize: none;
    display: block;
}

#te2 {
    position: absolute;
    top: 730px;
    left: 760px;
    background-color: transparent;
    width: 450px;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Homemade Apple', cursive;
    color: #44493f;
    resize: none;
    display: block;
}

#te3 {
    position: absolute;
    top: 800px;
    left: 760px;
    background-color: transparent;
    width: 450px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Homemade Apple', cursive;
    color: #44493f;
    resize: none;
    display: block;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #c01823;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
